@model RenewableHome.Models.HomeInfo
@using RenewableHome.Models

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--homeInfo form-->
<div class="container pt-4">
@using (Html.BeginForm()) {
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(m => m.KWperMonth, "Average Kilowatt-Hours Used Per Month*", new { @class = "control-label text-white" })
				@Html.TextBoxFor(m => m.KWperMonth, new { @id = "txtKWperMonth", @class = "form-control" })
				@Html.ValidationMessageFor(m => m.KWperMonth, "Kilowatt is required", new { @class = "text-danger" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.AreaSqFt, "Home in Square Feet", new { @class = "control-label text-white" })
				@Html.TextBoxFor(m => m.AreaSqFt, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.AreaSqFt, "Square feet is required", new { @class = "text-danger" })
			</div>
			<p>*Alternatively, you can select your state below to generate the average KW/month used by the homes of that state.<sub>1</sub></p>
			<div class="form-group">
				@Html.LabelFor(m => m.State, new { @class = "control-label text-white" })
				@Html.DropDownListFor(m => m.State, new List<SelectListItem> {
											 new SelectListItem { Value = "1264.7" , Text = "Alabama" },
											 new SelectListItem { Value = "605.1" , Text = "Alaska" },
											 new SelectListItem { Value = "1012.7" , Text = "Arizona" },
											 new SelectListItem { Value = "1142.6" , Text = "Arkansas" },
											 new SelectListItem { Value = "561.8" , Text = "California" },
											 new SelectListItem { Value = "687.4" , Text = "Colorado" },
											 new SelectListItem { Value = "729.7" , Text = "Connecticut" },
											 new SelectListItem { Value = "949.8" , Text = "Delaware" },
											 new SelectListItem { Value = "1092.3" , Text = "Florida" },
											 new SelectListItem { Value = "1151.5" , Text = "Georgia" },
											 new SelectListItem { Value = "506.4" , Text = "Hawaii" },
											 new SelectListItem { Value = "982.1" , Text = "Idaho" },
											 new SelectListItem { Value = "745.2" , Text = "Illinois" },
											 new SelectListItem { Value = "1008.6" , Text = "Indiana" },
											 new SelectListItem { Value = "891.4" , Text = "Iowa" },
											 new SelectListItem { Value = "928" , Text = "Kansas" },
											 new SelectListItem { Value = "1177.3" , Text = "Kentucky" },
											 new SelectListItem { Value = "1291.4" , Text = "Louisiana" },
											 new SelectListItem { Value = "549.4" , Text = "Maine" },
											 new SelectListItem { Value = "1024.9" , Text = "Maryland" },
											 new SelectListItem { Value = "614.9" , Text = "Massachusetts" },
											 new SelectListItem { Value = "653.6" , Text = "Michigan" },
											 new SelectListItem { Value = "809.6" , Text = "Minnesota" },
											 new SelectListItem { Value = "1247.9" , Text = "Mississippi" },
											 new SelectListItem { Value = "1094.8" , Text = "Missouri" },
											 new SelectListItem { Value = "853.7" , Text = "Montana" },
											 new SelectListItem { Value = "1022.3" , Text = "Nebraska" },
											 new SelectListItem { Value = "894.2" , Text = "Nevada" },
											 new SelectListItem { Value = "619.4" , Text = "New Hampshire" },
											 new SelectListItem { Value = "669.7" , Text = "New Jersey" },
											 new SelectListItem { Value = "633.4" , Text = "New Mexico" },
											 new SelectListItem { Value = "591" , Text = "New York" },
											 new SelectListItem { Value = "1135.7" , Text = "North Carolina" },
											 new SelectListItem { Value = "1239.6" , Text = "North Dakota" },
											 new SelectListItem { Value = "901.3" , Text = "Ohio" },
											 new SelectListItem { Value = "1137.7" , Text = "Oklahoma" },
											 new SelectListItem { Value = "929.5" , Text = "Oregon" },
											 new SelectListItem { Value = "853.9" , Text = "Pennsylvania" },
											 new SelectListItem { Value = "583" , Text = "Rhode Island" },
											 new SelectListItem { Value = "1186.6" , Text = "South Carolina" },
											 new SelectListItem { Value = "1045.6" , Text = "South Dakota" },
											 new SelectListItem { Value = "1285.8" , Text = "Tennessee" },
											 new SelectListItem { Value = "1158.1" , Text = "Texas" },
											 new SelectListItem { Value = "746.7" , Text = "Utah" },
											 new SelectListItem { Value = "568.4" , Text = "Vermont" },
											 new SelectListItem { Value = "1171.5" , Text = "Virginia" },
											 new SelectListItem { Value = "1001.5" , Text = "Washington" },
											 new SelectListItem { Value = "1158" , Text = "West Virginia" },
											 new SelectListItem { Value = "694.4" , Text = "Wisconsin" },
											 new SelectListItem { Value = "863.2" , Text = "Wyoming" },
											 new SelectListItem { Value = "721.5" , Text = "D.C." }
										}, "", new { @id = "drpState", @class = "form-control" }) 
				<!--http://insideenergy.org/2014/05/22/using-energy-how-much-electricity-do-you-use-each-month/-->
			</div>
			<br />
			<button type="submit" class="btn btn-success btn-lg margin-right">
				<span class="glyphicon glyphicon-save"></span> Submit
			</button>
		</div>
	</div>
}
<!--/homeInfo form-->

	<button type="button" class="btn btn-outline-info btn-lg d-block mx-auto my-5"
					data-toggle="modal" data-target="#register">
		Don't Miss Out, Register Now
	</button>

</div><!--/.container-->
<!--=====================================
		FORM MODAL
	=====================================-->
<!-- Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register form" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-info text-white">
				<h5 class="modal-title" id="exampleModalLongTitle">Register for Full Stack Conf</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!--registration form-->
				<form>
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<strong>Hurry!</strong> Early bird registration ends in two days.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<h5 class="mb-4">Basic Info</h5>
					<div class="form-group">
						<label class="col-form-label" for="name">Name:</label>
						<input type="text" class="form-control" id="name">
					</div>
					<div class="form-group">
						<label class="col-form-label" for="email">Email:</label>
						<input type="text" class="form-control" id="email">
					</div>
					<div class="form-group">
						<label for="role">Job Role:</label>
						<select class="custom-select form-control" id="role">
							<option value="full stack js developer">Full Stack JavaScript Developer</option>
							<option value="front end developer">Front End Developer</option>
							<option value="back end developer">Back End Developer</option>
							<option value="designer">Designer</option>
							<option value="student">Student</option>
						</select>
					</div>

					<hr class="my-4">
					<h5 class="mb-4">Which Topics Interest You Most?</h5>

					<div class="form-check">
						<label class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">JavaScript Framework</span>
						</label>
					</div>
					<div class="form-check">
						<label class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">JavaScript Libraries</span>
						</label>
					</div>
					<div class="form-check">
						<label class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Node.js</span>
						</label>
					</div>
					<div class="form-check">
						<label class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Build Tools</span>
						</label>
					</div>

					<hr class="mb-4">
					<h5 class="mb-4">Payment Info</h5>
					<div class="form-row">
						<div class="col-lg-6 form-group">
							<label for="cc-num">Card Number:</label>
							<input class="form-control" id="cc-num" type="text">
						</div>

						<div class="col-lg form-group">
							<label for="zip">Zip Code:</label>
							<input class="form-control" id="zip" type="text">
						</div>

						<div class="col-lg form-group">
							<label for="cvv">CVV:</label>
							<input class="form-control" id="cvv" type="text">
						</div>
					</div>

					<div class="form-row">
						<label class="col-lg-12">Exiration Date:</label>
						<div class="form-group col-lg-8">
							<select class="custom-select form-control" id="exp-month">
								<option value="1">1 - January</option>
								<option value="2">2 - February</option>
								<option value="3">3 - March</option>
								<option value="4">4 - April</option>
								<option value="5">5 - May</option>
								<option value="6">6 - June</option>
								<option value="7">7 - July</option>
								<option value="8">8 - August</option>
								<option value="9">9 - September</option>
								<option value="10">10 - October</option>
								<option value="11">11 - November</option>
								<option value="12">12 - December</option>
							</select>
						</div>
						<div class="form-group col-lg">
							<select class="custom-select form-control" id="exp-year">
								<option value="2016">2016</option>
								<option value="2017">2017</option>
								<option value="2018">2018</option>
								<option value="2019">2019</option>
								<option value="2020">2020</option>
							</select>
						</div>
					</div>

					<hr class="mb-4">
					<button type="submit" class="btn btn-primary btn-lg">Register</button>
				</form><!--/registration form-->
			</div>
		</div>
	</div>
</div>
<script>
	var shiftWindow = function () { scrollBy(0, -50) };
	if (location.hash) shiftWindow();
	window.addEventListener("hashchange", shiftWindow);
</script>
